# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
"LegendarySurvivalOverhaul/" 
"" 
"# Временные и сгенерированные" 
"*.class" 
"*.jar" 
"build/" 
".gradle/" 
"run/" 
"crash-reports/" 
"logs/" 
"Iso_*.txt" 
"tar_*.txt" 
"" 
"# Личные скрипты" 
"*.ps1" 
"*.py" 
"" 
"# IDE и прочее" 
".idea/" 
"*.iml" 
